ul {
    width: 90%;
        margin: 30px auto;
        padding: 0;
}

@media screen and (max-width: 425px) {
    ul {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}

li {
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
li p {
    margin: 0 20px 0 0;
    text-align: left;
    font-size: 18px;
    width: 70%;
    padding: 5px 10px;
    overflow-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.01s linear;
}
@media screen and (max-width: 550px) {
    li p {
        width: 50%;
    }
}
li p:hover {
    cursor: pointer;
    font-weight: 500;
}

li button {
    border: 3px solid var(--Accent);
    background-color: white;
    color: var(--Accent);
    width: 50px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}

.checked {
    text-decoration: line-through;
}


@media screen and (max-width: 768px) {
    li {
        width: 100%;
        margin: 5px 0;
        
    }

    li p {
        margin: 0;
        padding: 0;
        width: 50%;
    }
    li button {
        width: 50px;
        margin-right: 10px;
    }

}

@media screen and (max-width: 645px) {
    
}

span {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 5px;
}